.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemons-wrapper {
  margin-top: 40px;

  &.module {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.pokemon {
  margin-bottom: 10px;
  padding: 20px;

  border: 1px solid #eee;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #eee;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  & > span {
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 4px;
    width: 20px;
    text-align: center;
    
    &:hover {
      border: 1px solid brown;
    }

    @media (max-width: 768px) {
      margin: 4px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: start;
  }
}